*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Times New Roman', Times, serif;
}

.sm {
    font-weight: 300;
    letter-spacing: 0.2em;
}

.navbar {
    background: linear-gradient(rgba(0,0,0,0.5),#0096), url(/img/header-img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

.navbar .logo{
    width: 100px;
    position: absolute;
    top: 1.9%;
    left: 2%;
    position: fixed;
    z-index: 4;
}

.navbar-text{
    text-align: center;
    color: #fff;
    padding-top: 15rem;

    align-items: center;
    justify-content: center;
    width: 100%;
    /* transform: translateY(-50%); */
    z-index: 10;
}

.navbar-text h1 {
    font-size: 70px;
}

.navbar-text p {
    font-size: 21px;
    font-style: italic;
}


.navbar-content{
    font-size: 18px;
    line-height: 100px;
    font-weight: bold;

    /* Movein DIVs */
    display: flex;
    height: 100px;
    text-align: left;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}

.movein{
    color: #ffc107;
    margin-left: 10px;
    box-sizing: border-box;
    font-size: 25px;
    animation: movein 6s linear infinite;
}

.navbar-btn {
    margin: 50px auto 0;
}

.navbar-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    border: 0.5px solid #fff;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
}

.navbar-btn a span{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
    transition: 0.5s;
}

.navbar-btn a:hover span{
    width: 100%;
}

.navbar-btn a:hover {
    color: #000;
}

.sideNav{
    width: 220px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #0096;
    z-index: 2;
    transition: 0.5s;
}

nav ul li {
    list-style: none;
    margin: 50px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.manuBtn{
    width: 50px;
    height: 50px;
    background: #0096;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}

.manuBtn img{
    width: 20px;
    margin-top: 15px;
}

/*  */
.right-nav {
  display: grid;
  /* grid-template-columns: auto auto; */
  /* grid-gap: 25px; */
  grid-gap: 18px;
  /* display: flex; */
  top: 40%;
  /* left: 50%; */
  align-items: center;
  justify-content: center;
  position: fixed;
  font-size: 1.2rem;
  z-index: 20;
  justify-items: right;
  padding: 0.5rem;
}

.right-nav a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 50%;
  position: relative;
}

.right-nav .like {
  background: #fff0ee;
  color: #ff6c57;
}

.right-nav .linkedin {
    background: #fff0ee;
    color: #4599bd;
}

.right-nav .facebook {
    background: #ecf7ee;
    color: #4583bd;
}

.right-nav .media {
  background: #ecf7ee;
  color: #27c0ff;
}

.right-nav a span {
  display: flex;
  /* background: #202020; */
  color: #fff;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 0.7rem;
  font-weight: 500;

  position: absolute;
  top: -7px;
  right: -7px;
  width: 20px;
  height: 20px;
}

.right-nav .like span {
  background: #ff6c57;
}

.right-nav .media span {
  background: #27c0ff;
}

.right-nav .linkedin span{
    background: #4599bd;
    color: #fff0ee;
}

.right-nav .facebook span {
    color: #fff0ee;
    background: #4583bd;
}

/* FEATURES SECTION */
.feature{
    width: 100%;
    padding: 70px 0;
}

.feature .title-text,
.services .title-text,
.testimonials .title-text,
.expert .title-text,
.achievement .title-text,
.footer .title-text{
    text-align: center;
    padding-bottom: 70px;
}

.feature .title-text h1,
.services .title-text h1,
.testimonials .title-text h1,
.expert .title-text h1,
.achievement .title-text h1,
.footer .title-text h1{
    margin: auto;
    color: #0e2424;
    font-size: 25px;
    font-weight: bolder;
    position: relative;
    z-index: 1;
    display: inline-block;
}

.feature .title-text h1::after,
.services .title-text h1::after,
.testimonials .title-text h1::after,
.expert .title-text h1::after,
.achievement .title-text h1::after,
.footer .title-text h1::after{
  content: "";
  width: 50px;
  height: 35px;
  background: linear-gradient(#0195, #fff);
  position: absolute;
  top: -20px;
  left: 0;
  z-index: -1;
  transform: rotate(-150deg);
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
}

.feature .title-text h2,
.services .title-text h2,
.testimonials .title-text h2,
.expert .title-text h2,
.achievement .title-text h2,
.footer .title-text h2{
    font-size: 30px;
}

.feature .feature-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.feature .features{
    padding: 50px;
    flex-basis: 50%;
}

.features .feature-content{
    margin: 0 auto 40px;
    text-align: left;
}

.feature .features-img{
    flex-basis: 50%;
    margin: auto;
}

.feature .features-img img{
    width: 70%;
    border-radius: 20px;
}

.feature .features h1 {
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: #0096;
}

.features-description{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.feature-icon .fas{
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 10px;
    color: #0096;
    border: 1px solid #0096;
}

.feature-text p{
    padding: 0 20px;
    text-align: initial;
}

/* Stats */
.stats {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  text-transform: capitalize;
  /* height: 50vh; */
  padding-bottom: 4rem;
}

.stats div span {
  font-size: 160px;
}

.stats div h4 {
  font-size: 24px;
  font-weight: 300;
}

/* services */
.services {
    width: 100%;
    padding: 70px 0;
    background: #efefef;
}

.service-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.single-service{
    flex-basis: 48%;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
}

.single-service img {
    width: 100%;
    border-radius: 10px;
}

.overlay{
    width: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    opacity: 0;
    transition: 1s;
    background: linear-gradient(rgba(0,0,0,0.5), #0096);
}

.single-service:hover .overlay{
    opacity: 1;
}

.service-description{
    width: 80%;
    position: absolute;
    bottom: 50%;
    left: 50%;
    opacity: 0;
    transition: 1s;
    transform: translateX(-50%);
}

.single-service h3{
    font-size: 1.5rem;
}

.service-description p{
    font-size: 1.1rem;
}

.single-service:hover .service-description{
    bottom: 40%;
    opacity: 1;
}

hr {
    background: #fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}

/* Testimonial */
.testimonials{
    width: 100%;
    padding: 70px 0;
}

.testimonial-row{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    cursor: pointer;
}

.testimonial-col{
    flex-basis: 24%;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 20px 3px rgba(0,0,0,0.55);
    cursor: pointer;
    transition: transform 0.5s;
}

.testimonial-col p {
    font-size: 1.1rem;
}

.testimonial-col:hover{
    transform: translateY(-10px);
}

.user {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.user img{
    width: 40px;
    margin-right: 20px;
    border-radius: 5px;
}

.user-info .fab{
    margin-left: 10px;
    color: #27c0ff;
}

.user-info small{
    color: #27c0ff;
}

/* Experts */
.expert{
    width: 100%;
    padding: 70px 0;

}

.expert-items{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.expert-item{
    flex-basis: 20%;
    text-align: center;
    position: relative;
}

.expert-item img{
    width: 100%;
    margin: auto;
    padding: 0.55rem;
    border-radius: 30px;
    cursor: pointer;
}

.ovalay{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    overflow: hidden;
    opacity: 0;
    transition: 1s;
    background: linear-gradient(rgba(0,0,0,0.5), #0096);
}

.expert-item:hover .ovalay{
    opacity: 1;
}

.person-description {
    color: #fff;
    width: 80%;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 1s;
    transform: translateX(-50%);
}

.expert-item h3{
    font-size: 1.3rem;
}

.person-description p{
    font-size: 1.1rem;
}

.expert-item:hover .person-description {
    bottom: 25%;
    opacity: 1;
}

.media-icon {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.media-icon i {
    color: #fff;
    opacity: 0.9;
    margin-top: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}
  
.media-icon i:hover {
    opacity: 1;
}

/* About */
.achievement{
    width: 100%;
    padding: 70px 0;
    cursor: pointer;
}

.whatsApp-img{
    width: 20%;
    padding: 10px 0;
    cursor: pointer;
}
._afvz {
    width: 100px;
}

.achievement-content{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.achievement h1{
    text-align: left;
    font-weight: 300;
    font-variant: small-caps;
}

.achievement-area{
    flex-basis: 50%;
}

.achievement-img{
    flex-basis: 50%;
    margin: auto;
}

.achievement-img img{
    width: 70%;
    border-radius: 20px;
}

/* section contact */
#contact {
    display: flex;
    padding: 3rem 5rem;
}

#contact .contact-form h1{
    margin: 2rem 0.55rem;
}

#contact .map,
#contact .contact-form {
  flex: 1;
}

#contact .contact-form .form-group {
  margin: 1rem;
}

#contact .contact-form label {
    display: block;
}

#contact .contact-form input,
#contact .contact-form textarea {
    width: 95%;
    padding: 1rem;
    border: 1px solid #27c0ff;
    border-radius: 0.55rem;
    cursor: pointer;
}

#contact .contact-form input:hover,
#contact .contact-form textarea:hover{
    border: #7ab436 1px solid;
}

.btn {
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 0.5rem 2rem;
    font-size: 1.3rem;
    font-weight: 300;
    border: none;
    border-radius: 5px;
    transition: all 1s ease-in;
    opacity: 0.6;
    cursor: pointer;
}

.btn:hover {
    background: #7ab436;
}

/* Footer */
.footer {
    padding: 100px 0 20px;
    background: #efefef;
    position: relative;  
    /* height: 100vh; */
}

.footer-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left,
.footer-right {
    flex-basis: 35%;
    padding: 10px;
    margin-bottom: 20px;
}

.footer-right{
    text-align: right;
}

.footer-row h1{
    margin: 10px 0;
}

.footer-row p{
    line-height: 1rem;
    letter-spacing: 0.1em;
    /* padding: 0 2rem; */
}

.footer-left .far,
.footer-right a, .fa, .far{
    font-size: 18px;
    color: #0096;
    margin: 10px;
}

.footer-img{
    max-width: 370px;
    opacity: 0.3;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 1rem;
    transform: translate(-50%, -50%);
}

/*  */
.social-links {
    text-align: center;
}

.social-links  .fab{
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid #0096;
    margin: 40px 5px 0;
    color: #0096;
    cursor: pointer;
    transition: 0.5s;
}

.social-links .fa:hover{
    background: #0096;
    color: #fff;
    transform: translateY(-7px);
}

.social-links p{
    font-size: 16px;
    margin-top: 20px;
}

/* Media Queries */
@media screen and (max-width: 800px) {
    .navbar-text{
        padding-top: 250px;
    }
    .navbar-text h1{
        font-size: 40px;
    }

    .navbar-btn a {
        display: block;
        margin: 20px auto;
    }

    .navbar-content {
        display: none;
    }

    /* Feature */
    .feature .title-text h2,
    .achievement .title-text h2{
        font-size: 35px;
    }
    
    .feature .features,
    .achievement .achievement-area{
        flex-basis: 100%;
    }

    .feature .features-img,
    .achievement .achievement-img{
        flex-basis: 100%;
    }

    .feature .features-img img,
    .achievement .achievement-img img{
        width: 100%;
    }

    /* Stats */
    .stats {
        flex-direction: column;
    }

    .stats div {
        margin-bottom: 20px;
    }

    /* Services */
    .single-service {
        flex-basis: 100%;
        margin-bottom: 30px;
    }

    .single-service h3{
        font-size: 1.5rem;
    }

    .service-description p {
        font-size: 1.2rem;
        padding: 0.5rem 0;
    }
    
    .single-service:hover .service-description{
        bottom: 15px !important;
    }

    hr{
        margin: 5px auto;
    }

    /* Testimonial */
    .testimonial-col {
        flex-basis: 100%;
    }
    
    /* Experts */
    .expert{
        display: none;
    }

    /* Contact */
    #contact .map{ 
        display: none;
    }

    /* Footer */
    .footer-left,
    .footer-right{
        flex-basis: 100%;
        font-size: 14px;
    }

    .footer-img{
        top: 25%;
    }

}

@keyframes movein{
  0%{margin-top: -400px;}
  5%{margin-top: -200px;}
  30%{margin-top: -200px;}
  35%{margin-top: 0px;}
  65%{margin-top: 0px;}
  70%{margin-top: 200px;}
  100%{margin-top: 200px;}
}